@charset "utf-8";

* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: top;
	border: 0;
}
::-webkit-input-placeholder { /* Edge */
	color: #bbb;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #bbb;
}
::placeholder {
	color: #bbb;
}

/* #header */
#header {
	background: url(../images/keyvisual.jpg) no-repeat center center;
	padding-bottom: 80px;
}
.navi {
	position: fixed;
	right: 50px;
	top: 51%;
	margin-top: -210px;
	width: 60px;
	height: 200px;
	border-radius: 30px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	z-index: 9999;
}
.navi li a {
	display: inline-block;
	margin: 8px 0;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 6px;
	transition: background-color 0.3s;
}
.navi li:first-child a {
	margin-top: 20px;
}
.navi li.on a {
	background-color: #fed136;
}
.navi li a:hover {
	background-color: #fed136;
}
#header .wrapper {
	margin: 0 auto;
	padding-top: 20px;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#header .wrapper .upper .logo {
	float: left;
	width: 90px;
	height: 42px;
}
#header .wrapper .upper .gnb {
	float: right;
	height: 42px;
	line-height: 60px;
	margin-top: -20px;
}
#GNB, .fixed_nav {
	text-align: right;
}
#GNB li,
.fixed_nav li {
	display: inline-block;
}
#GNB a,
.fixed_nav a {
	display: block;
	padding: 12px 20px;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 600;
	color: #fff;
	transition: color 0.3s;
}
#GNB li:last-child a,
.fixed_nav li:last-child a {
	padding-right: 0;
}
#GNB li a:hover,
.fixed_nav li a:hover {
	color: #fed136;
}
.fixed_nav {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	padding-right: 100px;
	min-width: 940px;
	font-size: 16px;
}
.fixed_nav {
	position: fixed;
	top: -60px;
	width: 100%;
	height: 60px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}
.fixed_nav.show {
	top: 0;
}
.fixed_nav ul li a {
	line-height: 35px;
}
.fixed_nav li.on a {
	color: #fed136;
}
.fixed_nav .logo a {
	padding-left: 100px;
}
.fixed_nav .logo a img {
	width: 90px;
}

#header .heading {
	margin-top: 336px;
	transform: translateY(-100px);
	transition: opacity 0.2s;
	opacity: 0;
}
#header.active .heading {
	opacity: 1;
}
#header .heading p {
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;
	color: #fff;
}
#header .heading h3 {
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 2.65em;
	font-weight: 400;
	line-height: 60px;
	color: #fff;
}

#header .more a {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 65px;
	line-height: 65px;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
	border-radius: 4px;
	border: 2px solid #fff;
}
#header .more a:hover {
	background-color: rgba(0,0,0,0.4);
	color: #fed136;
	transition: color 0.3s, border 0.3s;
	border: 2px solid #fed136;
}

/*모바일 메뉴*/
.wrapper .tab1,
#GNB .tab2,
#mobile_gnb {
	display: none;
}


@media only screen and (max-width: 940px) {
	#header .wrapper {
		width: 100%;
	}

	#header .menu {
		padding: 0 10px;
	}
	.navi {
		display: none;
	}
	#header .heading p {
		font-size: 1.375em;
	}
	#header .heading h3 {
		padding: 0 40px;
		font-size: 2.5em;
		line-height: 55px;
	}
}
@media only screen and (max-width: 720px) {
	#header .wrapper {
		padding-top: 15px;
	}
	#header .logo img {
		width: 98px;
		margin-left: 15px;
	}
	#GNB {
		display: none;
	}
	.fixed_nav {
		display: none;
	}
	#header .heading p {
		font-size: 1.125em;
	}
	#header .heading h3 {
		margin-top: 10px;
		line-height: 38px;
		font-size: 1.563em;
	}
	#header .more a {
		background-color: rgba(0,0,0,0.4);
		color: #fed136;
	}

	.wrapper .tab1 {
		display: block;
		float: right;
		width: 34px;
		height: 25px;
		margin-top: 2px;
		margin-right: 15px;
		background: url(../images/gnb_btn.png) no-repeat 0 0;
		background-size: 100%;
		text-indent: -9999px;
		overflow: hidden;
	}
	#mobile_gnb {
		display: block;
		position: fixed;
		top: 0;
		height: 100%;
		width: 60%;
		right: -100%;
		background-color: rgba(0,0,0,0.9);
		z-index: 1000;
		transition: right 0.5s;
	}
	#mobile_gnb.active {
		right: 0;
	}
	#mobile_gnb > ul {
		margin-top: 70px;
	}
	#mobile_gnb > ul > li > a {
		display: block;
		padding: 5px 0;
		color: #fff;
		text-align: center;
	}
	#mobile_gnb .tab2 {
		float: right;
		margin-right: 18px;
		margin-top: 15px;
		width: 27px;
		background: url(../images/btn_close.png) no-repeat;
		background-size: 100%;
		text-indent: -9999px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 460px) {
}
@media only screen and (max-width: 360px) {
	#header {
		padding-bottom: 90px;
	}
}



/* #business */
#business {
	padding-top: 106px;
	padding-bottom: 106px;
	background-color: #fff;
}
#business .title {
	text-align: center;
	transform: translateY(-150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#business.active .title {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.5s;
}
#business .title h2 {
	line-height: 50px;
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 700;
}
#business .title .description {
	line-height: 35px;
	font-size: 0.938em;
	color: #777;
}
#business .business {
	margin: 0 auto;
	margin-top: 68px;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#business .business::before, #business .business::after,
#business .business:before, #business .business:after {
	content: "";
	display: block;
}
#business .business::after,
#business .business:after {
	clear: both;
}
#business .business li {
	float: left;
	margin-right: 35px;
	width: calc((100% - 70px)/3);
	box-sizing: border-box;
	transform: translateY(150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#business.active .business li {
	transform: translateY(0);
	opacity: 1;
}
#business.active .business li:nth-child(1) {
	transition-delay: 1s;
}
#business.active .business li:nth-child(2) {
	transition-delay: 1.5s;
}
#business.active .business li:nth-child(3) {
	transition-delay: 2s;
}
#business .business li:nth-child(3n) {
	margin-right: 0;
}
#business .business li a {
	display: block;
	text-align: center;
}
#business .business li .icon {
	display: inline-block;
	width: 72px;
	height: 72px;
	text-indent: -9999px;
	border: 2px solid #2e3480;
	border-radius: 36px;
	box-sizing: border-box;
}
#business .business li .icon:hover {
	transform: rotate(30deg);
	transition: 0.3s;
}
#business .business li .commerce {
	background: url(../images/icon_business1.png) no-repeat 8px 8px;
}
#business .business li .responsive {
	background: url(../images/icon_business2.png) no-repeat 8px 8px;
}
#business .business li .web {
	background: url(../images/icon_business3.png) no-repeat 8px 8px;
}
#business .business li h3 {
	margin-top: 25px;
	font-size: 1.125em;
	font-weight: 700;
}
#business .business li p {
	margin-top: 14px;
	line-height: 1.75;
	font-size: 0.875em;
	color: #989898;
}

@media only screen and (max-width: 940px) {
	#business .title .description {
		padding: 0 20px;
	}
	#business .business li:first-child {
		padding-left: 40px;
	}
	#business .business li:last-child {
		padding-right: 40px;
	}
}
@media only screen and (max-width: 720px) {
	#business .title .description {
		padding: 0 40px;
		line-height: 25px;
	}
	#business .business li {
		width: 100%;
		padding: 20px 0;
	}
	#business .business li:first-child {
		padding-left: 0;
	}
	#business .business li:last-child {
		padding-right: 0;
	}
	#business .business li p {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 460px) {
}
@media only screen and (max-width: 360px) {
}

/* #portfolio */
#portfolio {
	padding-top: 106px;
	padding-bottom: 106px;
	background-color: #f7f7f7;
}
#portfolio .title {
	text-align: center;
	transform: translateY(-150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#portfolio.active .title {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.5s;
}
#portfolio .title h2 {
	line-height: 50px;
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 700;
}
#portfolio .title .description {
	line-height: 35px;
	font-size: 0.938em;
	color: #777;
}
#portfolio .portfolio {
	margin: 0 auto;
	margin-top: 68px;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#portfolio .portfolio::before, #portfolio .portfolio::after {
	content: "";
	display: block;
}
#portfolio .portfolio::after {
	clear: both;
}
#portfolio .portfolio li {
	float: left;
	margin-right: 35px;
	margin-bottom: 49px;
	width: calc((100% - 70px)/3);
	overflow: hidden;
	box-sizing: border-box;
	transform: translateY(150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#portfolio .portfolio li:nth-child(1),
#portfolio .portfolio li:nth-child(3),
#portfolio .portfolio li:nth-child(5) {
	transform: translateY(-150px);
}
#portfolio.active .portfolio li:nth-child(1),
#portfolio.active .portfolio li:nth-child(3),
#portfolio.active .portfolio li:nth-child(5) {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
#portfolio.active .portfolio li:nth-child(2),
#portfolio.active .portfolio li:nth-child(4),
#portfolio.active .portfolio li:nth-child(6) {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
#portfolio .portfolio li:nth-child(3n) {
	margin-right: 0;
}
#portfolio .portfolio li div .img {
	overflow: hidden;
}
#portfolio .portfolio li div .img img{
	width: 100%;
	transition: transform 0.3s;
}
#portfolio .portfolio li a {
	display: block;
	text-decoration: none;
}
#portfolio .portfolio li:hover img {
	transform: scale(1.05);
}
#portfolio .portfolio li .description {
	height: 95px;
	text-align: center;
	font-size: 0.813em;
	background-color: #fff;
	color: #989898;
}
#portfolio .portfolio li .description i {
	display: block;
	padding: 23px 0 4px;
	line-height: 22px;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	color: #333;
}
#portfolio .portfolio li .description span {
	line-height: 16px;
}

@media only screen and (max-width: 940px) {
	#portfolio .title .description {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 720px) {
	#portfolio .title .description {
		padding: 0 40px;
		line-height: 25px;
	}
	#portfolio .portfolio li {
		width: calc((100% - 35px)/2);
	}
	#portfolio .portfolio li:nth-child(3n) {
		margin-right: 35px;
	}
	#portfolio .portfolio li:nth-child(2n) {
		margin-right: 0;
	}
}
@media only screen and (max-width: 460px) {
	#portfolio .portfolio li {
		width: 100%;
	}
}
@media only screen and (max-width: 360px) {
}

/* #about */
#about {
	padding-top: 106px;
	padding-bottom: 120px;
	background-color: #fff;
	overflow: hidden;
}
#about .title {
	text-align: center;
	transform: translateY(-150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#about.active .title {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.5s;
}
#about .title h2 {
	line-height: 50px;
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 700;
}
#about .title .description {
	line-height: 35px;
	font-size: 1em;
	color: #777;
}
#about .about {
	margin-top: 70px;
}
#about .about li {
	position: relative;
	margin: 0 auto;
	margin-top: 92px;
	width: 250px;
	transform: translate(-500%);
	transition: transform 0.4s;
}
#about .about li:nth-child(2) {
	transform: translate(500%);
}
#about.active .about li {
	transform: translate(0);
}
#about.active .about li:nth-child(1) {
	transition-delay: 1s;
}
#about.active .about li:nth-child(2) {
	transition-delay: 1s;
}
#about.active .about li:nth-child(3) {
	transition-delay: 1s;
}
#about .about li::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 250px;
	width: 2px;
	height: 92px;
	background-color: #f1f1f1;
}
#about .about li .round_area {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
}
#about .about li .round_area:hover {
	transition: border 0.2s;
	border: 7px solid rgba(107, 111, 169, 0.6);
}
#about .about li .round_area img {
	position: absolute;
	left: -6px;
	top: -6px;
}
#about .about li p {
	position: absolute;
	top: 15px;
	line-height: 18px;
	font-size: 0.875em;
	color: #777;
}
#about .about li p span {
	display: block;
	margin-bottom: 20px;
	line-height: 24px;
	font-size: 1rem;
	font-weight: 700;
	color: #5f6296;
}
#about .about li p strong {
	margin-right: 8px;
	color: #5f6296;
}
#about .about li.first {
	margin-top: 0;
}
#about .about li.first p,
#about .about li.third p {
	left: -320px;
	width: 290px;
	text-align: right;
	line-height: 1.7;
}
#about .about li.second p {
	left: 280px;
	width: 290px;
	text-align: left;
	line-height: 1.7;
}
#about .about li.third::after {
	display: none;
}

@media only screen and (max-width: 1000px) {
	#about .about li {
		margin-left: 10%;
		margin-right: 0;
		width: auto;
	}
	#about .about li .round_area {
		width: 250px;
	}
	#about .about li.first p,
	#about .about li.second p,
	#about .about li.third p {
		left: auto;
		right: 20px;
		width: calc(95% - 280px);
		text-align: left;
	}
	#about .about li::after {
		left: 120px;
	}
	#about .about li p span {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 680px) {
	#about .about li {
		margin: 0 auto;
		margin-top: 92px;
		width: 250px;
	}
	#about .about li.first p,
	#about .about li.second p,
	#about .about li.third p {
		display: none;
	}
}
@media only screen and (max-width: 360px) {
}

/* team */
#team {
	padding-top: 106px;
	padding-bottom: 100px;
	/* min-width: 940px; *//* Mobile container */
	background-color: #f9f9f9;
}
#team .title {
	text-align: center;
	text-align: center;
	transform: translateY(-150px);
	transition: opacity 0.3s, transform 0.4s;
	opacity: 0;
}
#team.active .title {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.5s;
}
#team .title h2 {
	line-height: 50px;
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 700;
}
#team .title p {
	line-height: 35px;
	/* font-family: "Libre Baskerville", serif; */
	font-size: 1em;
	/* font-style: italic; */
	color: #989898;
}
#team .content {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#team .content::before {
	content: "";
	display: block;
}
#team .content::after {
	content: "";
	display: block;
	clear: left;
}
#team .content li {
	/* float: left; */
	display: inline-block;
	/* padding: 0 40px; */
	width: calc((100% - 128px)/3);
	height: 355px;
	margin-left: 30px;
	text-align: center;
	transition: opacity 0.3s;
	opacity: 0;
}
#team.active .content li {
	opacity: 1;
}
#team.active .content li:nth-child(1) {
	transition-delay: 1s;
}
#team.active .content li:nth-child(2) {
	transition-delay: 1.5s;
}
#team.active .content li:nth-child(3) {
	transition-delay: 2s;
}
/* #team .content li:first-child {
	margin-left: 0;
} */
#team .content li .photo {
	/* display: inline-block; */
	margin: 0 auto;
	width: 220px;
	height: 220px;
	border-radius: 110px;
	overflow: hidden;
	margin-left: 24px;
}
#team .content li .desc {
	/* display: inline-block; */
	margin-top: 30px;
	width: 220px;
	text-align: center;
	margin: 0 auto;
}
#team .content li .desc dt {
	margin-top: 20px;
	font-weight: 700;
	color: #222;
}
#team .content li .desc dd {
	margin-left: 0;
	margin-top: 10px;
	/* font-family: "Libre Baskerville", serif; */
	font-size: 0.875em;
	color: #777;
}
#team .content li .icon_area {
	display: inline-block;
	/* margin-top: 6px; */
	width: 220px;
	text-align: center;
}
#team .content li .icon_area a {
	display: inline-block;
	margin: 0 8px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	border: 3px solid #333;
	border-radius: 50%;
}
#team .content .icon_area a:hover,
#team .content .icon_area a:focus {
	background-color: #09f;
	color: #fff;
	border: none;
	transition: 0.3s;
	transform: translate(0, -2px);
}
#team .under_text p {
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	/* font-family: "Libre Baskerville", serif; */
	font-size: 0.875em;
	color: #989898;
}

@media only screen and (max-width: 940px) {
}
@media only screen and (max-width: 800px) {
	#team .content li {
		width: 100%;
		margin-left: 0;
	}
	#team .content li .photo {
		margin: 0 auto;
	}
	#team .under_text p {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 460px) {
}
@media only screen and (max-width: 360px) {
}

/* signature */
#signature {
	padding: 30px 0;
}
#signature .content {
	margin: 0 auto;
	max-width: 940px; /* Mobile container : width: 940px; */
	/* height: 80px; */
	text-align: center;
}
#signature .content li {
	width: calc((100% - 69px )/4);
	/* float: left; */
	display: inline-block;
	margin: 0 auto;
	/* margin-left: 23px; */
}
#signature .content li:first-child {
	margin-left: 0;
}
#signature .content li img {
	max-width: 100%;
}
@media only screen and (max-width: 940px) {
}
@media only screen and (max-width: 720px) {
}
@media only screen and (max-width: 460px) {
	#signature .content li {
		width: calc((100% - 46px )/2);
	}
	#signature .content li:nth-child(2n+1) {
		margin-left: 0;
	}
}
@media only screen and (max-width: 360px) {
	#signature .content li {
		width: 100%;
	}
	#signature .content li:nth-child(n) {
		margin-left: 0;
	}
}

/* contact */
#contact {
	padding: 130px 0 130px;
	width: 100%;
	background-image: url(../images/main_bg4.jpg);
	background-attachment: fixed;
	overflow: hidden;
}
#contact .title {
	text-align: center;
	transform: translateY(-150px);
	opacity: 0;
	transition: opacity 0.3s, transform 0.4s;
}
#contact.active .title {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 0.5s;
}
#contact .title h2 {
	font-size: 2.4em;
	font-weight: 700;
	color: #fff;
}
#contact .content {
	margin: 0 auto;
	margin-top: 60px;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#contact .content .left {
	transform: translateX(-150px);
	opacity: 0;
	transition: opacity 0.3s, transform 0.4s;
}
#contact.active .content .left {
	transform: translateX(0);
	opacity: 1;
	transition-delay: 1s;
}
#contact .content .right {
	transform: translateY(-150px);
	opacity: 0;
	transition: opacity 0.3s, transform 0.4s;
}
#contact.active .content .right {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
#contact .content .under {
	transform: translateX(150px);
	opacity: 0;
	transition: opacity 0.3s, transform 0.4s;
}
#contact.active .content .under {
	transform: translateX(0);
	opacity: 1;
	transition-delay: 1s;
}
#contact .content::before, #contact .content::after {
	content: "";
	display: block;
}
#contact .content::after {
	clear: both;
}
#contact .content .left {
	float: left;
	width: 50%;

}
#contact .content .left .name {
	height: 52px;
}
#contact .content .left .email {
	margin-top: 28px;
	height: 52px;
}
#contact .content .left .subject {
	margin-top: 28px;
	height: 52px;
}
#contact .content .right {
	float: right;
	width: 50%;
}
#contact .content .right .message {
	width: 100%;
	height: 212px;
	margin-left: 0.625em;
}
#contact .content .under {
	clear: both;
	padding-top: 28px;
	text-align: center;
	max-width: 940px; /* Mobile container : width: 940px; */
	height: 65px;
}
#contact .content input[type=text], textarea {
	display: inline-block;
	padding: 12px 10px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 0.875em;
	font-weight: 600;
	color: #bbb;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#contact .content input[type=submit] {
	padding: 14px 20px;
	width: 240px;
	height: 65px;
	font-family: "Open Sans", sans-serif;
	font-size: 1.063em;
	font-weight: 600;
	background-color: rgba(255,255,255,0);
	border: 2px solid #fed136;
	color: #fed136;
	border-radius: 4px;
	cursor: pointer;
}
#contact .content input[type=submit]:hover,
#contact .content input[type=submit]:focus {
	background-color: #fed136;
	color: #fff;
	transition: 0.3s;
}



@media only screen and (max-width: 972px) {
	#contact .content .left {
		margin: 0 auto;
		float: none;
		width: 80%;
	}
	#contact .content .right {
		margin: 0 auto;
		float: none;
		margin-top: 28px;
		width: 80%;
	}
	#contact .content .right .message {
		margin-left: 0;
	}
	#contact .content input[type=submit] {
		width: 80%;
	}
}
@media only screen and (max-width: 720px) {
}
@media only screen and (max-width: 460px) {
}
@media only screen and (max-width: 360px) {
}

/* footer */
#footer {
	padding: 30px 0;
}
#footer .content {
	margin: 0 auto;
	max-width: 940px; /* Mobile container : width: 940px; */
}
#footer .content p {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
	font-size: 0.938em;
	color: #555;
}
#footer .content .icon_area {
	display: inline-block;
	margin-left: 80px;
	vertical-align: middle;
	width: 200px;
}
#footer .content .icon_area a {
	display: inline-block;
	margin: 0 3px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #222;
	border-radius: 50%;
}
#footer .content .icon_area a:hover,
#footer .content .icon_area a:active {
	background-color: #09f;
	transition: 0.3s;
}

@media only screen and (max-width: 940px) {
}
@media only screen and (max-width: 720px) {
	#footer .content .icon_area {
		display: none;
	}
}
@media only screen and (max-width: 460px) {
}
@media only screen and (max-width: 360px) {
}

/* go top */
.go_top {
	display: none;
	position: fixed;
	right: 50px;
	bottom: 75px;
	padding: 10px 20px;
}
.go_top .top {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 28px;
	margin-left: 11px;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	color: #000;
	z-index: 2000;
	transition: color 0.3s;
}
.go_top::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -40px;
	width: 50px;
	height: 3px;
	background-color: #5f6296;
}
.go_top .top:hover {
 color: #33376e;
}
